@import "../../sass/variables";
@import "../../sass/utilities";
.footer{
  font-family: 'Montserrat', sans-serif;
  margin-top: 5rem;
  min-height: 28rem;
  background: linear-gradient(to right bottom, rgba($color-black,0.05),rgba($color-black,0.3));
  background-color: $color-blue-main;

  &-image{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 1rem;

    &-logo{
      height: 11rem;
    }
  }



  &-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    &-contact{
      margin: 2rem 3rem;
      color: $color-black;
      &-text1{
        font-size: 2rem;
      }
      &-text2{
        font-size: 1.3rem;
        & span{display: block;}
      }
    }
    &-copyright{
      color: $color-black;
      font-size: 1.3rem;
      max-width: 35rem;
      margin: 2rem 3rem;
    }
  }

  &-btn,
  &-btn:link,
  &-btn:visited{
    color : #111;
    font-size: 1.2rem;

    &:hover{
      text-decoration: underline;
    }
  }
}
