<div class='footer'>
  <div class="footer-image">
    <img src="./assets/img/yg.png" alt="footer logo" class="footer-image-logo" >
  </div>

  <div class='footer-row'>
    <div class='footer-row-contact'>
      <div class="footer-row-contact-text1 u-font-header">contact me </div>
      <div class="footer-row-contact-text2">
        <span>Email: ganyuanyuancc@gmail.com</span>
        <span>Phone: (+1) 519-722-4493</span>
      </div>
    </div>

    <div class='footer-row-copyright'>
      <div class='footer-row-copyright-text'>
        This webpage is designed by Yuanyuan Gan. You are allowed to use this webpage for both personal and commercial use, but NOT to claim it as your own design. A credit to the original author, Yuanyuan Gan, is of course highly appreciated! &nbsp;
        <a target="_blank" href="https://github.com/ganyuanyuan" class="btn  footer-btn">View My Github</a>
      </div>

    </div>
  </div>
</div>
