$color-blue-main: #32327c;
$color-blue-code: #007ca5;
$color-pink-background: #c09da7 ;
$color-pink-highlight: #e01073 ;
$color-purple-1:#992576;
$color-purple-2:#752a78;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1:#ddd;
$color-grey-light-2:#aaa;
$color-grey-light-3:#888;
$color-grey-dark-1:#555;
$color-grey-dark-2:#333;


$card-width:30rem;
$card-height:40rem;
