<div class="projects" ngsReveal>
  <div class="project-middlebox">
    <div class="projects-header  u-font-header">my projects</div>

    <div class="projects-content">
      <div class="card">
        <div class="card-side  card-side-front  card-side-front-color1">
          <div class="card-side-front-content">
            <img class="front-icon" src="./assets/img/icon4.png" alt="icon">
            <div class="front-header">Pneumonia X-ray Classification Based on CNN</div>
            <div class="front-tags ">
              <span class="front-tag front-tag-color1">CNN</span>
              <span class="front-tag front-tag-color1">vgg-16</span>
              <span class="front-tag front-tag-color1">Keras</span>
              <span class="front-tag front-tag-color1">TensorFlow</span>
            </div>
          </div>
        </div>
        <div class="card-side card-side-back card-side-back-color1">
          <div class="back-intro">
            The model was trained and tested based on an open source pneumonia x-ray dataset. The experiment results demonstrate that our fine-tuned VGG model can achieve a precise classification and prove the strong ability of modified VGG in classifying.
          </div>
          <a class="btn back-btn-big back-btn-big-color1 u-font-header" target="_blank" rel="btn-big" href="https://github.com/ganyuanyuan/Pneumonia-X-ray-Classification-based-on-CNN/blob/master/Report.pdf">view report</a>
          <a class="btn back-btn-small" target="_blank" rel="btn-small" href="https://github.com/ganyuanyuan/Pneumonia-X-ray-Classification-based-on-CNN">view on github</a>
        </div>
      </div>


      <div class="card">
        <div class="card-side  card-side-front  card-side-front-color2">
          <div class="card-side-front-content">
            <img class="front-icon" src="./assets/img/icon1.png" alt="icon">
            <div class="front-header">Magic-Face Web Application</div>
            <div class="front-tags ">
              <span class="front-tag front-tag-color2">full stack</span>
              <span class="front-tag front-tag-color2">node.js</span>
              <span class="front-tag front-tag-color2">react</span>
              <span class="front-tag front-tag-color2">postgreSQL</span>
            </div>
          </div>
        </div>
        <div class="card-side card-side-back card-side-back-color2">
          <div class="back-intro">
            This project is a webpage that can recognize the face on the image. As long as you input the link of the image, a box will show the place of one face on the image. This app also has sign-in and register functions which supported by the server and database.(To start the server may take seconds.)
          </div>
          <a class="btn back-btn-big back-btn-big-color2 u-font-header" target="_blank" rel="btn-big" href="https://face-recognition-exercise.herokuapp.com/">find more</a>
          <a class="btn back-btn-small" target="_blank" rel="btn-small" href="https://github.com/ganyuanyuan/WebApp-FaceRecognition">view on github_frontend</a>
          <a class="btn back-btn-small-2 " target="_blank" rel="btn-small" href="https://github.com/ganyuanyuan/smart-brain-api">view on github_backend</a>
        </div>
      </div>



      <div class="card">
        <div class="card-side  card-side-front  card-side-front-color3">
          <div class="card-side-front-content">
            <img class="front-icon" src="./assets/img/icon3.png" alt="icon">
            <div class="front-header">Robot-Friend Web Application</div>
            <div class="front-tags ">
              <span class="front-tag front-tag-color3">front end</span>
              <span class="front-tag front-tag-color3">javascript</span>
              <span class="front-tag front-tag-color3">react</span>
              <span class="front-tag front-tag-color3">redux</span>
            </div>
          </div>
        </div>
        <div class="card-side card-side-back card-side-back-color3">
          <div class="back-intro">
            This is very funny web application that you can search robots by their names. This project is bootstraped by React, and with some improvement by Redux. It is responsive to different window sizes.
          </div>
          <a class="btn back-btn-big back-btn-big-color3 u-font-header" target="_blank" rel="btn-big" href="https://ganyuanyuan.github.io/robotfriend-webapplication-exercise/">find more</a>
          <a class="btn back-btn-small" target="_blank" rel="btn-small" href="https://github.com/ganyuanyuan/robotfriend-webapplication-exercise">view on github</a>
        </div>
      </div>




      <div class="card">
        <div class="card-side  card-side-front  card-side-front-color1">
          <div class="card-side-front-content">
            <img class="front-icon" src="./assets/img/icon2.png" alt="icon">
            <div class="front-header">Annual Changes in Global Temperature Analysis</div>
            <div class="front-tags ">
              <span class="front-tag front-tag-color1">time series</span>
              <span class="front-tag front-tag-color1">python</span>
              <span class="front-tag front-tag-color1">ARIMA model</span>
              <span class="front-tag front-tag-color1">numpy</span>
            </div>
          </div>
        </div>
        <div class="card-side card-side-back card-side-back-color1">
          <div class="back-intro">
            This project used the data from NASA of annual changes in global temperature. With some background introduction and exploratory data analysis, the main part of this project is confirmatory data analysis based on ARIMA model.
          </div>
          <a class="btn back-btn-big back-btn-big-color1 u-font-header" target="_blank" rel="btn-big" href="https://github.com/ganyuanyuan/Time-Series-Modelling/blob/master/Report.pdf">view report</a>
          <a class="btn back-btn-small" target="_blank" rel="btn-small" href="https://github.com/ganyuanyuan/Time-Series-Modelling">view on github</a>
        </div>
      </div>

    </div>

    <div class="projects-sub-text u-font-header">more are coming...</div>
  </div>
</div>
