/* You can add global styles to this file, and also import other style files */
html {
  font-size: 10xp;
  color: white;
  // font-family: 'Oswald', sans-serif;
}

body {
  background-color: black;
  margin: 0;
}
